In [ ]:
pip install request

Collecting request
  Downloading https://files.pythonhosted.org/packages/67/fc/30193d66338a12cc1389e799a4fa27d29763cb075ced80fa2be9b2571224/request-1.0.117.tar.gz
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from request) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->request) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->request) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->request) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->request) (3.0.4)
Building wheels for collected packages: request
  Building wheel for request (setup.py) ... done
  Created wheel for request: filename=request-1.0.117-cp36-none-any.whl size=3243 sha256=fdabadf1762e7b6b5eebea54ab70a8d81b614e0b3ffb501eed2ebbdb07b9d44b
  Stored in directory: /root/.cache/pip/wheels/13/02/26/ebf7ccd8b7380de255a48c5cfa4db0b4ced374dd0f15ab7e73
Successfully built request
Installing collected packages: request
Successfully installed request-1.0.117

In [ ]:
pip install wwo-hist

Collecting wwo-hist
  Downloading https://files.pythonhosted.org/packages/5a/b4/19a4d6a0d131567cf4b2ffa3758710d867f7d7d3f0c6f94bd63fadf1d02a/wwo_hist-0.0.5-py3-none-any.whl
Installing collected packages: wwo-hist
Successfully installed wwo-hist-0.0.5

In [ ]:
from wwo_hist import retrieve_hist_data

In [ ]:
import os
os.chdir("")

# Features under exploration

- Rainfall.   - Wold weather online.com API
- Elvation    - World weather online.com API
- Humidity    - World weather online.com API

In [ ]:
frequency=24
start_date = '01-JAN-2018'
end_date = '31-DEC-2019'
api_key = '449f0a6375314d9994e140823200108'
location_list = ['Banaskantha']

hist_weather_data = retrieve_hist_data(api_key,
                                location_list,
                                start_date,
                                end_date,
                                frequency,
                                location_label = True,
                                export_csv = True,
                                store_df = True)

Retrieving weather data for Banaskantha


Currently retrieving data for Banaskantha: from 2018-01-01 to 2018-01-31
Time elapsed (hh:mm:ss.ms) 0:00:01.018544
Currently retrieving data for Banaskantha: from 2018-02-01 to 2018-02-28
Time elapsed (hh:mm:ss.ms) 0:00:02.081457
Currently retrieving data for Banaskantha: from 2018-03-01 to 2018-03-31
Time elapsed (hh:mm:ss.ms) 0:00:03.118871
Currently retrieving data for Banaskantha: from 2018-04-01 to 2018-04-30
Time elapsed (hh:mm:ss.ms) 0:00:04.224967
Currently retrieving data for Banaskantha: from 2018-05-01 to 2018-05-31
Time elapsed (hh:mm:ss.ms) 0:00:05.267815
Currently retrieving data for Banaskantha: from 2018-06-01 to 2018-06-30
Time elapsed (hh:mm:ss.ms) 0:00:06.359005
Currently retrieving data for Banaskantha: from 2018-07-01 to 2018-07-31
Time elapsed (hh:mm:ss.ms) 0:00:07.432291
Currently retrieving data for Banaskantha: from 2018-08-01 to 2018-08-31
Time elapsed (hh:mm:ss.ms) 0:00:08.556177
Currently retrieving data for Banaskantha: from 2018-09-01 to 2018-09-30
Time elapsed (hh:mm:ss.ms) 0:00:09.570374
Currently retrieving data for Banaskantha: from 2018-10-01 to 2018-10-31
Time elapsed (hh:mm:ss.ms) 0:00:10.582848
Currently retrieving data for Banaskantha: from 2018-11-01 to 2018-11-30
Time elapsed (hh:mm:ss.ms) 0:00:11.598299
Currently retrieving data for Banaskantha: from 2018-12-01 to 2018-12-31
Time elapsed (hh:mm:ss.ms) 0:00:12.622870
Currently retrieving data for Banaskantha: from 2019-01-01 to 2019-01-31
Time elapsed (hh:mm:ss.ms) 0:00:13.645743
Currently retrieving data for Banaskantha: from 2019-02-01 to 2019-02-28
Time elapsed (hh:mm:ss.ms) 0:00:14.608152
Currently retrieving data for Banaskantha: from 2019-03-01 to 2019-03-31
Time elapsed (hh:mm:ss.ms) 0:00:15.599512
Currently retrieving data for Banaskantha: from 2019-04-01 to 2019-04-30
Time elapsed (hh:mm:ss.ms) 0:00:16.610996
Currently retrieving data for Banaskantha: from 2019-05-01 to 2019-05-31
Time elapsed (hh:mm:ss.ms) 0:00:17.658150
Currently retrieving data for Banaskantha: from 2019-06-01 to 2019-06-30
Time elapsed (hh:mm:ss.ms) 0:00:18.712851
Currently retrieving data for Banaskantha: from 2019-07-01 to 2019-07-31
Time elapsed (hh:mm:ss.ms) 0:00:19.710757
Currently retrieving data for Banaskantha: from 2019-08-01 to 2019-08-31
Time elapsed (hh:mm:ss.ms) 0:00:20.723410
Currently retrieving data for Banaskantha: from 2019-09-01 to 2019-09-30
Time elapsed (hh:mm:ss.ms) 0:00:21.791521
Currently retrieving data for Banaskantha: from 2019-10-01 to 2019-10-31
Time elapsed (hh:mm:ss.ms) 0:00:22.831676
Currently retrieving data for Banaskantha: from 2019-11-01 to 2019-11-30
Time elapsed (hh:mm:ss.ms) 0:00:23.828140
Currently retrieving data for Banaskantha: from 2019-12-01 to 2019-12-31
Time elapsed (hh:mm:ss.ms) 0:00:24.847070


export Banaskantha completed!

In [ ]:
display(hist_weather_data)

[             date_time  ... Banaskantha_location
 0  2018-01-01 00:00:00  ...          Banaskantha
 1  2018-01-01 03:00:00  ...          Banaskantha
 2  2018-01-01 06:00:00  ...          Banaskantha
 3  2018-01-01 09:00:00  ...          Banaskantha
 4  2018-01-01 12:00:00  ...          Banaskantha
 ..                 ...  ...                  ...
 3  2019-12-31 09:00:00  ...          Banaskantha
 4  2019-12-31 12:00:00  ...          Banaskantha
 5  2019-12-31 15:00:00  ...          Banaskantha
 6  2019-12-31 18:00:00  ...          Banaskantha
 7  2019-12-31 21:00:00  ...          Banaskantha

 [5840 rows x 25 columns]]

In [ ]:
import pandas as pd
df = pd.DataFrame(hist_weather_data)

In [ ]:
hist_weather_data

[             date_time  ... Banaskantha_location
 0  2018-01-01 00:00:00  ...          Banaskantha
 1  2018-01-01 03:00:00  ...          Banaskantha
 2  2018-01-01 06:00:00  ...          Banaskantha
 3  2018-01-01 09:00:00  ...          Banaskantha
 4  2018-01-01 12:00:00  ...          Banaskantha
 ..                 ...  ...                  ...
 3  2019-12-31 09:00:00  ...          Banaskantha
 4  2019-12-31 12:00:00  ...          Banaskantha
 5  2019-12-31 15:00:00  ...          Banaskantha
 6  2019-12-31 18:00:00  ...          Banaskantha
 7  2019-12-31 21:00:00  ...          Banaskantha

 [5840 rows x 25 columns]]

In [ ]:
type(hist_weather_data)

list

In [ ]:
hist_weather_data[0]

    date_time  ... Banaskantha_location
0  2018-01-01  ...          Banaskantha
0  2018-01-02  ...          Banaskantha
0  2018-01-03  ...          Banaskantha
0  2018-01-04  ...          Banaskantha
0  2018-01-05  ...          Banaskantha
..        ...  ...                  ...
0  2019-12-27  ...          Banaskantha
0  2019-12-28  ...          Banaskantha
0  2019-12-29  ...          Banaskantha
0  2019-12-30  ...          Banaskantha
0  2019-12-31  ...          Banaskantha

[730 rows x 25 columns]