<a href="https://colab.research.google.com/github/DhamodaranN/webscraping/blob/master/Day1_SIH2020_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install request

Requirement already satisfied: request in /usr/local/lib/python3.6/dist-packages (1.0.117)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from request) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->request) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->request) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->request) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->request) (3.0.4)

In [4]:
pip install wwo-hist

Requirement already satisfied: wwo-hist in /usr/local/lib/python3.6/dist-packages (0.0.5)

In [5]:
from wwo_hist import retrieve_hist_data

In [7]:
import os
os.mkdir("data")
os.chdir("data")

# Features under exploration

- Rainfall.   - Wold weather online.com API
- Elvation    - World weather online.com API
- Humidity    - World weather online.com API

In [8]:
frequency=24
start_date = '01-JAN-2018'
end_date = '31-DEC-2019'
api_key = '449f0a6375314d9994e140823200108'
location_list = ['chennai']

hist_weather_data = retrieve_hist_data(api_key,
                                location_list,
                                start_date,
                                end_date,
                                frequency,
                                location_label = True,
                                export_csv = True,
                                store_df = True)

Retrieving weather data for chennai


Currently retrieving data for chennai: from 2018-01-01 to 2018-01-31
Time elapsed (hh:mm:ss.ms) 0:00:00.813518
Currently retrieving data for chennai: from 2018-02-01 to 2018-02-28
Time elapsed (hh:mm:ss.ms) 0:00:01.474389
Currently retrieving data for chennai: from 2018-03-01 to 2018-03-31
Time elapsed (hh:mm:ss.ms) 0:00:02.304777
Currently retrieving data for chennai: from 2018-04-01 to 2018-04-30
Time elapsed (hh:mm:ss.ms) 0:00:02.985470
Currently retrieving data for chennai: from 2018-05-01 to 2018-05-31
Time elapsed (hh:mm:ss.ms) 0:00:03.745803
Currently retrieving data for chennai: from 2018-06-01 to 2018-06-30
Time elapsed (hh:mm:ss.ms) 0:00:04.473299
Currently retrieving data for chennai: from 2018-07-01 to 2018-07-31
Time elapsed (hh:mm:ss.ms) 0:00:05.205078
Currently retrieving data for chennai: from 2018-08-01 to 2018-08-31
Time elapsed (hh:mm:ss.ms) 0:00:05.928892
Currently retrieving data for chennai: from 2018-09-01 to 2018-09-30
Time elapsed (hh:mm:ss.ms) 0:00:06.622378
Currently retrieving data for chennai: from 2018-10-01 to 2018-10-31
Time elapsed (hh:mm:ss.ms) 0:00:07.375327
Currently retrieving data for chennai: from 2018-11-01 to 2018-11-30
Time elapsed (hh:mm:ss.ms) 0:00:08.088875
Currently retrieving data for chennai: from 2018-12-01 to 2018-12-31
Time elapsed (hh:mm:ss.ms) 0:00:09.011313
Currently retrieving data for chennai: from 2019-01-01 to 2019-01-31
Time elapsed (hh:mm:ss.ms) 0:00:10.436220
Currently retrieving data for chennai: from 2019-02-01 to 2019-02-28
Time elapsed (hh:mm:ss.ms) 0:00:11.091848
Currently retrieving data for chennai: from 2019-03-01 to 2019-03-31
Time elapsed (hh:mm:ss.ms) 0:00:11.818003
Currently retrieving data for chennai: from 2019-04-01 to 2019-04-30
Time elapsed (hh:mm:ss.ms) 0:00:12.546044
Currently retrieving data for chennai: from 2019-05-01 to 2019-05-31
Time elapsed (hh:mm:ss.ms) 0:00:13.305837
Currently retrieving data for chennai: from 2019-06-01 to 2019-06-30
Time elapsed (hh:mm:ss.ms) 0:00:14.213821
Currently retrieving data for chennai: from 2019-07-01 to 2019-07-31
Time elapsed (hh:mm:ss.ms) 0:00:14.964402
Currently retrieving data for chennai: from 2019-08-01 to 2019-08-31
Time elapsed (hh:mm:ss.ms) 0:00:15.715496
Currently retrieving data for chennai: from 2019-09-01 to 2019-09-30
Time elapsed (hh:mm:ss.ms) 0:00:16.436759
Currently retrieving data for chennai: from 2019-10-01 to 2019-10-31
Time elapsed (hh:mm:ss.ms) 0:00:17.221859
Currently retrieving data for chennai: from 2019-11-01 to 2019-11-30
Time elapsed (hh:mm:ss.ms) 0:00:17.944188
Currently retrieving data for chennai: from 2019-12-01 to 2019-12-31
Time elapsed (hh:mm:ss.ms) 0:00:18.687797


export chennai completed!

In [9]:
display(hist_weather_data)

[    date_time chennai_maxtempC  ... chennai_windspeedKmph chennai_location
 0  2018-01-01               29  ...                    16          chennai
 0  2018-01-02               29  ...                    14          chennai
 0  2018-01-03               29  ...                    15          chennai
 0  2018-01-04               28  ...                    15          chennai
 0  2018-01-05               27  ...                    14          chennai
 ..        ...              ...  ...                   ...              ...
 0  2019-12-27               28  ...                    11          chennai
 0  2019-12-28               28  ...                    13          chennai
 0  2019-12-29               28  ...                    16          chennai
 0  2019-12-30               26  ...                    18          chennai
 0  2019-12-31               28  ...                    17          chennai

 [730 rows x 25 columns]]

In [11]:
import pandas as pd
df = pd.DataFrame(hist_weather_data)

In [13]:
hist_weather_data

[    date_time chennai_maxtempC  ... chennai_windspeedKmph chennai_location
 0  2018-01-01               29  ...                    16          chennai
 0  2018-01-02               29  ...                    14          chennai
 0  2018-01-03               29  ...                    15          chennai
 0  2018-01-04               28  ...                    15          chennai
 0  2018-01-05               27  ...                    14          chennai
 ..        ...              ...  ...                   ...              ...
 0  2019-12-27               28  ...                    11          chennai
 0  2019-12-28               28  ...                    13          chennai
 0  2019-12-29               28  ...                    16          chennai
 0  2019-12-30               26  ...                    18          chennai
 0  2019-12-31               28  ...                    17          chennai

 [730 rows x 25 columns]]

In [ ]:
type(hist_weather_data)

list

In [14]:
hist_weather_data[0]

    date_time chennai_maxtempC  ... chennai_windspeedKmph chennai_location
0  2018-01-01               29  ...                    16          chennai
0  2018-01-02               29  ...                    14          chennai
0  2018-01-03               29  ...                    15          chennai
0  2018-01-04               28  ...                    15          chennai
0  2018-01-05               27  ...                    14          chennai
..        ...              ...  ...                   ...              ...
0  2019-12-27               28  ...                    11          chennai
0  2019-12-28               28  ...                    13          chennai
0  2019-12-29               28  ...                    16          chennai
0  2019-12-30               26  ...                    18          chennai
0  2019-12-31               28  ...                    17          chennai

[730 rows x 25 columns]